 
body{
        max-width: 500px;
        margin: auto;
        background-color:lightgray;
        font-family: 'Open Sans', sans-serif;
    }



#profile img{
    border-radius: 50%;
    border: 1px solid black;
    width: 110px;
    margin:auto;
    display: block;
}

#profile > * {
text-align: center;


}

#profile h2,#profile h4{
    color: brown;
}

#profile a{
    padding: 10px;
    text-decoration: none;
    width: 100px;
    border-radius: 4px;
    color: white;
    background-color: brown;

}

#profile{
    margin:20px 20px;
    padding:8px;
    border: 2px solid lightgray;
    border-radius:4px;
    background-color: white;
}

#share ul{ 
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}

#share li{
    display: flex;
    flex-direction: column;
}

#share a{
    text-decoration: none;
    color:gray;
    
}
 


#share{
    margin:20px 20px;
    padding:8px;
    border: 2px solid lightgray;
    border-radius:4px;
    background-color: white;
    text-align: center;
    padding: 20px;
}


#share ul {
  color: gray;
}



#movies{
    margin:20px 20px;
    padding:8px;
    border: 2px solid lightgray;
    border-radius:4px;
    background-color: white;
}

#movies h4{
    text-align: center;
}



#movies > article img{
    float: left;
    padding: 5px;
    width:100px;
}

#movies > article h5{
  text-align: center;
}

 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


