 
body{
        max-width: 500px;
        margin: auto;
        background-color:#D5D5D5;
        font-family: 'Open Sans', sans-serif;
    }

#profile{
    margin-top:20px;
        padding:17px 17px 0 17px;
        border: 2px solid lightgray;
        border-radius:4px;
        color: gray;
        background-color: white;
    }

#profile img{
    border-radius: 50%;
    border: 3px solid lightgray;
    width: 110px;
    margin:auto;
    display: block;
}

#profile p{
    font-size: 15px;
}

#profile h4 {
text-align: center;


}

#profile h2{
    color: #D75252;
    text-align: center;
    
}



#profile a{
    display:block;
    text-decoration: none;
    width: 130px;
    border-radius: 4px;
    color: white;
    padding: 8px;
    font-weight: bold;
    font-size: 16px;
    margin:auto;
    background-color:#D75252;

}


#share{
    margin-top:20px;
    border: 2px solid lightgray;
    border-radius:4px;
    background-color: white;
    text-align: center;
    padding: 35px;
}



#share ul{ 
    justify-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

}

#share li{
    display: flex;
    flex-direction: column;
    color: rgb(206, 199, 199);
}

#share a{
    text-decoration: none;
    color: rgb(206, 199, 199);
}
   


#movies{
    color: gray;
    margin:20px 0 20px 0;
    padding:5px;
    border: 2px solid lightgray;
    border-radius:4px;
    background-color: white;
}

#movies h4{
    text-align: center;
}

#movies h4 span{
    background-color: #D5D5D5;
}


#movies > article img{
    float: left;
    padding: 15px;
    width:75px;
}

#movies > article h5{
  text-align: center;
}

#movies > article p{
    text-align: left;
   
  }
 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


